#!/bin/bash
## Do not try to delete if container doesn't exist
docker inspect libertempo > /dev/null
errorCode=$?
if [[ "${errorCode}" == '0' ]]; then
    echo "Removing old container"
    docker rm -f libertempo
fi

echo "Starting container"
ID=$(docker run -d -t -i \
    -v {path/de/libertempo/sur/votre/poste}:/var/www/web \
    -v {path/de/libertempo-api/sur/votre/poste}:/var/www/api \
    -p "80:80" \
    --add-host="libertempo:127.0.0.1"\
    --name="libertempo" libertempo)
docker stop ${ID} > /dev/null
docker start ${ID} > /dev/null
echo ${ID}
